extends ../../layouts/guest

block content
  h1= package.name
  p= package.description

  div
    dl.dl-horizontal
      dt Version:
      dd= package.version
      dt Author:
      dd= package.author

  if manual
    a(href="/package/#{package.name}/edit").btn.btn-primary Edit Manual

    hr

    #manual-content
      != md(manual.content)
  else
    a.btn.btn-primary(href="/package/#{package.name}/new") Add one now
