extends ../../layouts/guest

block content
  h1= package.name
  p= package.description

  div
    dl.dl-horizontal
      dt Latest Version:
      dd= package.version

      if package.author
        dt Author:
        dd= package.author

      dt Maintainer:
      dd= package.maintainer

  if manual
    a(href="/package/#{package.name}/edit").btn.btn-primary Edit Manual

    hr

    #manual-content
      != md(manual.content)
  else
    a.btn.btn-primary(href="/package/#{package.name}/new") Add one now
